<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Admin Index</title>
</head>
<body>
        <h1>TRIFECTA LIMOS</h1>
        {{if .Username}}
        <h2>Welcome {{.Username}}</h2>
        <a href="http://localhost:5221/logout">
        <button>Logout</button>
        </a>
        {{else}}
        <h2>You are not logged in or do not have an account</h2>
        <a href="http://localhost:5221/login" style="text-decoration: none;">
                <button>Login</button>
        </a>
        <a href="http://localhost:5221/signup" style="text-decoration: none;">
                <button>Signup</button>
        </a>
        {{end}}
</body>
</html>