<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin Login</title>
    </head>
    <body>
        <h1>TRIFECTA LIMOS</h1>
        <h2>Admin Log In</h2>
        <form method="POST">
            <table>
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input id="username" type="text" name="username" required/></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input id="password" type="password" name="password" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><button>Login</button></td>
                </tr>
            </table>
        </form>
        <p>If you are not an Admin</p>
        <a href="/login">
            <button>User Login</button>
        </a>
    </body>
</html>