<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Admin Index</title>
</head>
<body>
        <h1>TRIFECTA LIMOS</h1>
        {{if .Username}}
        <h2>Welcome {{.Username}}</h2>
        <a href="/admin_view_delete_bookings" style="text-decoration: none;">
                <button>View & Delete Bookings</button>
        </a>
        <a href="/admin_delete_users" style="text-decoration: none;">
                <button>Delete Users</button>
        </a>
        <a href="/admin_delete_sessions" style="text-decoration: none;">
                <button>Delete Sessions</button>
        </a>
        <a href="/logout" style="text-decoration: none;">
                <button>Logout</button>
        </a>
        {{else}}
        <h2>You are not logged in or do not have an account</h2>
        <a href="/login" style="text-decoration: none;">
                <button>Login</button>
        </a>
        <a href="/signup" style="text-decoration: none;">
                <button>Signup</button>
        </a>
        {{end}}
</body>
</html>