<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Booking</title>
</head>
<body>
    <h1>TRIFECTA LIMOS</h1>
    <h2>Change Booking Details</h2>
    <form method="POST">
        <label for="bookingId">Enter booking ID:</label>
        <input type="text" id="bookingId" name="bookingId" />
        <button type="submit">Submit</button>
    </form>
    {{if . }}
    <table border="1">
        <tr>
            <td>
                <p>Car: </p>
            </td>
            <td>
                <p>{{.Car}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Date: </p>
            </td>
            <td>
                <p>{{.Date}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Booking Time: </p>
            </td>
            <td>
                <p>{{.BookingTime}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>UserName: </p>
            </td>
            <td>
                <p>{{.UserName}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Pickup Address: </p>
            </td>
            <td>
                <p>{{.PickUp}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Drop Off Address: </p>
            </td>
            <td>
                <p>{{.DropOff}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Contact: </p>
            </td>
            <td>
                <p>{{.ContactInfo}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Remarks: </p>
            </td>
            <td>
                <p>{{.Remarks}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Booking ID: </p>
            </td>
            <td>
                <p>{{.BookingId}}</p>
            </td>
        </tr>
    </table>
    <label>Confirm booking to change: </label>
    <a href="http://localhost:5221/get_changes">
        <button>Confirm</button>
    </a>
    {{end}}
</body>
</html>