<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Confirmed</title>
</head>
<body>
    <h1>TRIFECTA LIMOS</h1>
    <h3>Booking has been Deleted!</h3>
    <a href="http://localhost:5221/">
        <button>Main Menu</button>
    </a>
</body>
</html>