<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>TRIFECTA LIMOS</h1>
    {{if .First}}
    <h2>Welcome {{.Username}}!</h2>
    <ol>
        <li>
            <a href="http://localhost:5221/new_booking">
                <button>Book a Car</button>
            </a>
        </li>
        <li>
            <a href="http://localhost:5221/view_all_bookings">
                <button>View All Bookings</button>
            </a>
        </li>
        <li>
            <a href="http://localhost:5221/change_booking_page">
                <button>Change Booking</button>
            </a>
        </li>
        <li>
            <a href="http://localhost:5221/delete_booking_page">
                <button>Delete Booking</button>
            </a>
        </li>
    </ol>
    <a href="http://localhost:5221/logout">
        <button>Logout</button>
    </a>
    {{else}}
    <h2>You are not logged in or do not have an account</h2>
    <a href="http://localhost:5221/login" style="text-decoration: none;">
        <button>Login</button>
    </a>
    <a href="http://localhost:5221/signup" style="text-decoration: none;">
        <button>Signup</button>
    </a>
    {{end}}
</body>
</html>