<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Booking</title>
</head>
<body>
    <h1>Trifecta Limos</h1>
    <h2>Make a New Booking</h2>
    <form method="POST">
        <table>
            <tr>
                <td><label for="cars">Choose a car: </label></td>
                <td><select name="cars" id="cars" required>
                    <option value="none" selected hidden>Select Car</option>
                    <option value="Car1">Car1</option>
                    <option value="Car2">Car2</option>
                    <option value="Car3">Car3</option>
                    <option value="Car4">Car4</option>
                </select>
                </td>
            </tr>
            <tr>
                <td><label for="date">Date: </label></td>
                <td><input type="text" id="date" name="date" placeholder="dd/mm/yyyy" required></td>
            </tr>
            <tr>
                <td><label for="time">Choose a Timeslot: </label></td>
                <td><select name="bookingTime" id="time" required>
                    <option value="0" selected hidden>Select Time</option>
                    <option value="100">0100 Hrs</option>
                    <option value="200">0200 Hrs</option>
                    <option value="300">0300 Hrs</option>
                    <option value="400">0400 Hrs</option>
                    <option value="500">0500 Hrs</option>
                    <option value="600">0600 Hrs</option>
                    <option value="700">0700 Hrs</option>
                    <option value="800">0800 Hrs</option>
                    <option value="900">0900 Hrs</option>
                    <option value="1000">1000 Hrs</option>
                    <option value="1100">1100 Hrs</option>
                    <option value="1200">1200 Hrs</option>
                    <option value="1300">1300 Hrs</option>
                    <option value="1400">1400 Hrs</option>
                    <option value="1500">1500 Hrs</option>
                    <option value="1600">1600 Hrs</option>
                    <option value="1700">1700 Hrs</option>
                    <option value="1800">1800 Hrs</option>
                    <option value="1900">1900 Hrs</option>
                    <option value="2000">2000 Hrs</option>
                    <option value="2100">2100 Hrs</option>
                    <option value="2200">2200 Hrs</option>
                    <option value="2300">2300 Hrs</option>
                    <option value="2400">2400 Hrs</option>
                </select>
                </td>
            </tr>
            <tr>
                <td><label for="pickUp">Pickup Address: </label></td>
                <td><input type="text" id="pickUp" name="pickUp" required></td>
            </tr>
            <tr>
                <td><label for="dropOff">Drop off Address: </label></td>
                <td><input type="text" id="dropOff" name="dropOff" required></td>
            </tr>
            <tr>
                <td><label for="contact">Contact no.: </label></td>
                <td><input type="tel" id="contact" name="contact" required></td>
            </tr>
            <tr>
                <td><label for="remarks">Remarks: </label></td>
                <td><textarea id="remarks" name="remarks" cols="25"></textarea> </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Make Booking</button></td>
            </tr>
        </table>
    </form>
</body>
</html>